@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
body{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
 
    background-color: #eaeaea;
    width: 40%;
    margin-left: 30%;
    border-left: solid black 1px;
    border-right: solid black 1px;
    padding-left: 2%;
    padding-right: 2%;
}
#result{

    text-align: center;
    margin: 2%;
    font-size: 2rem;
}
.padre{
    display: flex;
 
 
}

.hijos{
      background-color: rgb(242, 100, 12);
      padding: 2%;
      width: 10%;
      border: solid 2px black;
     font-weight: bold;
     text-align: center;
     border-radius: 12px;
}





 


button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding: 2%;
    margin: 2%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}

        

h1{
    text-align: center;
    font-size: 1rem;
}

#div-aitems , #div-jcontent  , #div-fdirection
{

    display: none;
}

.close-button {

    background-color: red;
    border: rgb(255, 39, 39);
}

.close-button:hover {

    background-color: rgb(0, 0, 0);
}
#div-jcontent > button {
    font-size: 0.9rem;
  width: 12%;
  margin-left: 44%;
}
#div-aitems > button {
    font-size: 0.9rem;
  width: 12%;
  margin-left: 44%;
}
#div-fdirection > button {
    font-size: 0.9rem;
  width: 12%;
  margin-left: 44%;
}